[package]
name    = "rolldown_binding"
version = "0.0.1"

homepage.workspace   = true
license.workspace    = true
edition.workspace    = true
repository.workspace = true

[lints]
workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
async-trait       = { workspace = true }
derivative        = { workspace = true }
futures           = { workspace = true }
napi              = { version = "2.11.1", features = ["full"] }
napi-derive       = { version = "2.11.0" }
once_cell         = { workspace = true }
rolldown          = { path = "../rolldown" }
rolldown_error    = { path = "../rolldown_error" }
rolldown_tracing  = { path = "../rolldown_tracing" }
rolldown_fs       = { path = "../rolldown_fs" }
rolldown_resolver = { path = "../rolldown_resolver" }
rustc-hash        = { workspace = true }
scoped-tls        = { workspace = true }
serde             = { workspace = true }
tracing           = { workspace = true }
wax               = { workspace = true }

[target.'cfg(not(target_os = "linux"))'.dependencies]
mimalloc-rust = "0.2"

[target.'cfg(all(target_os = "linux", not(all(target_env = "musl", target_arch = "aarch64"))))'.dependencies]
mimalloc-rust = { version = "0.2", features = ["local-dynamic-tls"] }

[build-dependencies]
napi-build = "2"
