**/.git
**/node_modules
**/dist/
packages/rollup-tests
rollup
crates
target
temp
tmp
pnpm-lock.yaml
CHANGELOG.md
packages/rolldown/src/binding.d.ts
packages/rolldown/src/binding.js
scripts/snap-diff/summary
scripts/snap-diff/stats
crates/rolldown/tests/esbuild/**/diff.md

packages/rolldown/src/rolldown-binding.wasi-browser.js
packages/rolldown/src/rolldown-binding.wasi.cjs
packages/rolldown/src/wasi-worker-browser.mjs
packages/rolldown/src/wasi-worker.mjs
packages/rolldown/tests/fixtures/**/*.js
packages/rolldown/tests/stability/**/*
packages/rolldown/tests/cli/fixtures/**/*.js
packages/rolldown/tests/fixtures/builtin-plugin/json/vite/*/*.json
