[workspace]
members  = ["./crates/*"]
resolver = "2"

[workspace.package]
edition    = "2021"
homepage   = "https://github.com/rolldown-rs/rolldown"
license    = "MIT"
repository = "https://github.com/rolldown-rs/rolldown"

[workspace.lints.rust]

[workspace.lints.clippy]
# Guidelines
# - We should only disable rules globally if they are either false positives, chaotic, or does not make sense.
# - Group are enabled with priority -1, so we could easily override some specific rules.
#   - https://doc.rust-lang.org/stable/cargo/reference/manifest.html#the-lints-section

# --- restriction https://doc.rust-lang.org/clippy/usage.html#clippyrestriction
dbg_macro    = "deny"
print_stdout = "deny"

# I like the explicitness of this rule as it removes confusion around `clone`.
# This increases readability, avoids `clone` mindlessly and heap allocating on accident.
clone_on_ref_ptr                = "deny"
empty_drop                      = "deny"
exit                            = "deny"
filetype_is_file                = "deny"
get_unwrap                      = "deny"
rc_buffer                       = "deny"
rc_mutex                        = "deny"
rest_pat_in_fully_bound_structs = "deny"
unnecessary_safety_comment      = "deny"

# --- nursery #https://doc.rust-lang.org/clippy/usage.html#clippypedantic
# To write the best rust code, nursery group is enabled by default. 
nursery = { level = "deny", priority = -1 }

# --- pedantic #https://doc.rust-lang.org/clippy/usage.html#clippypedantic
# To write the best rust code, pedantic group is enabled by default. 
pedantic = { level = "deny", priority = -1 }

# Wizards, naming is too hard.
module_name_repetitions = "allow"
module_inception        = "allow"
similar_names           = "allow"

# Forwarding `Result` is a common pattern, this rule is too pedantic.
missing_errors_doc = "allow"

# #[must_use] is creating too much noise for this codebase, it does not add much value execept nagging
# the programmer to add a #[must_use] after clippy has been run.
# Having #[must_use] every where also hinders readability.
must_use_candidate = "allow"

doc_markdown         = "allow"
new_without_default  = "allow"
needless_for_each    = "allow"
missing_const_for_fn = "allow"
# TODO: should reveiw this rule.
missing_panics_doc = "allow"

# Order doesn't really matter https://rust-lang.github.io/rust-clippy/master/index.html#/inconsistent_struct_constructor
inconsistent_struct_constructor = "allow"

# Single match is equally readable as if/else. https://rust-lang.github.io/rust-clippy/master/index.html#/single_match
single_match = "allow"


[workspace.dependencies]
oxc            = { version = "0.6.0" }
oxc_resolver   = { version = "1.2.0" }
sugar_path     = "0.0.12"
tokio          = { version = "1.33.0", default-features = false }
derivative     = "2.2.0"
rustc-hash     = "1.1.0"
tracing        = "0.1.40"
index_vec      = "0.1.3"
serde          = { version = "1.0.190", features = ["derive"] }
serde_json     = "1.0.108"
insta          = "1.34.0"
testing_macros = "0.2.11"
scoped-tls     = "1.0.1"
string_wizard  = { version = "0.0.17" }
async-trait    = "0.1.74"
futures        = "0.3.29"
thiserror      = "1.0.50"
smallvec       = "1.11.1"
async-scoped   = { version = "0.7.1" }
regex          = "1.10.2"
once_cell      = "1.18.0"
dashmap        = "5.5.3"
ariadne        = "0.3.0"
