[package]
name = "rolldown_plugin_vite_css"
version = "0.1.0"
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
rolldown_plugin = { workspace = true }
