[package]
name    = "rolldown_common"
version = "0.0.1"

edition.workspace    = true
homepage.workspace   = true
license.workspace    = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
index_vec          = { workspace = true }
once_cell          = { workspace = true }
oxc                = { workspace = true, features = ["semantic"] }
regex              = { workspace = true }
rolldown_error     = { workspace = true }
rolldown_fs        = { workspace = true }
rolldown_resolver  = { workspace = true }
rolldown_rstr      = { workspace = true }
rolldown_sourcemap = { workspace = true }
rustc-hash         = { workspace = true }
sugar_path         = { workspace = true }
