[package]
name = "rolldown_testing_config"
version = "0.1.0"
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish = false
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
doctest = false
test = false

[dependencies]
rolldown_common = { workspace = true, features = ["deserialize_bundler_options"] }
rolldown_dev_common = { workspace = true, features = ["deserialize_dev_options"] }
schemars = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }

[lints]
workspace = true
