[package]
name = "rolldown_utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-scoped = { version = "0.7.1", features = ["use-tokio"] }
