[package]
name = "rolldown_plugin_web_worker_post"
version = "0.1.0"
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish = true
repository.workspace = true
description = "Rolldown plugin for Web Worker post-processing"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
oxc = { workspace = true }
rolldown_ecmascript_utils = { workspace = true }
rolldown_plugin = { workspace = true }
