[package]
description = "rolldown_resolver"
name        = "rolldown_resolver"
version     = "0.0.1"

edition.workspace    = true
homepage.workspace   = true
license.workspace    = true
repository.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
oxc_resolver   = { workspace = true }
rolldown_error = { workspace = true }
rolldown_fs    = { workspace = true }
sugar_path     = { workspace = true }
