[package]
name = "rolldown_plugin_module_preload_polyfill"
version = "0.1.0"
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish = true
repository.workspace = true
description = "Rolldown plugin for module preload polyfill"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
arcstr = { workspace = true }
rolldown_common = { workspace = true }
rolldown_plugin = { workspace = true }
