:root {
  --vp-c-brand-1: #ff7e17;
  --vp-c-brand-2: #ff8700;
  --vp-c-brand-3: #e37800;
  --vp-code-color: #333;
}

.dark {
  --vp-code-color: #fff;
}

:root.dark .light-only {
  display: none !important;
}

:root:not(.dark) .dark-only {
  display: none !important;
}

a text {
  text-decoration: underline;
}
