body.light-mode.new-user-segment:not(.logged-in) .signup,
body.light-mode.new-user-segment:not(.logged-in) .login {
	font: 10px/12px 'Font 1', 'Font 2', 'Font 3', 'Font 4', sans-serif;
	user-select: none;
	color: var(--fg, rgba(11, 22, 33, 0.5));
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sb` +
`nM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIxMDAiIGN5PSIxMDAiIHI9IjEwM` +
`CIgZmlsbD0iI0ZGQ0YwMCIvPgogIDxwYXRoIGQ9Ik00Ny41IDUyLjVMOTUgMTAwbC00Ny41IDQ3LjVtNjAtOTVMM` +
`TU1IDEwMGwtNDcuNSA0Ny41IiBmaWxsPSJub25lIiBzdHJva2U9IiMxOTE5MTkiIHN0cm9rZS13aWR0aD0iMjQiL` +
`z4KPC9zdmc+Cg==);
	cursor: url(x.file);
	cursor: url(x.copy);
	cursor: url(x.data);
}