[package]
name = "string_wizard"
version = "0.0.26"
edition = "2021"
license = "MIT"
description = "manipulate string like a wizard"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
oxc_index = { workspace = true }
oxc_sourcemap = { workspace = true, optional = true }
rustc-hash = { workspace = true }
serde = { workspace = true, optional = true }

[dev-dependencies]
insta = { workspace = true }

[features]
default = ["sourcemap", "serde"]
serde = ["dep:serde", "oxc_index/serde"]
sourcemap = ["dep:oxc_sourcemap"]

[package.metadata.cargo-shear]
ignored = ["serde"]
