[package]
name = "rolldown_plugin_vite_html"
version = "0.1.0"
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
derive_more = { workspace = true }
html5gum = { workspace = true }
itoa = { workspace = true }
rolldown_plugin = { workspace = true }
rolldown_plugin_utils = { workspace = true }
rolldown_utils = { workspace = true }
string_cache = { workspace = true }
string_wizard = { workspace = true }
sugar_path = { workspace = true }
