name: 'Automate Jobs'

permissions: {}

on:
  issues:
    types: [assigned]

jobs:
  remove-needs-triage-when-assigned:
    if: github.event.action == 'assigned'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions-cool/issues-helper@71b62d7da76e59ff7b193904feb6e77d4dbb2777 # v3.7.6
        with:
          actions: 'remove-labels'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          labels: 'needs-triage'
