name: 'Automation Labeled'

permissions: {}

on:
  pull_request_target: # zizmor: ignore[dangerous-triggers]
    types: [labeled]
  issues:
    types: [labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha || github.event.issue.number }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  convert_stale_PR_to_draft:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request_target' && github.event.label.name == 'stale'
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      - name: Convert Stale PR to Draft
        run: |
          gh pr ready ${{ github.event.pull_request.number }} --undo

  needs-reproduction:
    runs-on: ubuntu-latest
    if: github.event.label.name == 'needs-reproduction'
    permissions:
      issues: write
    steps:
      - name: Find Comment
        uses: peter-evans/find-comment@3eae4d37986fb5a8592848f6a574fdf654e61f9e # v3.1.0
        id: find-comment
        with:
          issue-number: ${{ github.event.issue.number }}
          comment-author: 'github-actions[bot]'
          body-includes: 'Thanks for reporting this issue!'

      - name: Write a new comment
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        continue-on-error: true
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.issue.number }}
          body: 'Thanks for reporting this issue! To help us investigate and resolve it more efficiently, could you provide a minimal reproduction? You can either create a [StackBlitz project](https://stackblitz.com/github/rolldown/rolldown-starter-stackblitz?file=README.md) or a GitHub repository demonstrating the problem. This will make it easier for us to debug and find a solution. Thanks!'
          reactions-edit-mode: 'replace'
          edit-mode: replace

  create_issue_if_doc_labeled_on_pr:
    if: github.event_name == 'pull_request_target' && github.event.label.name == 'doc'
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Issue from PR
        uses: dacbd/create-issue-action@fec641442c0897e734fad173cfe83ae21a2284a3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: 'Update doc for : ${{ github.event.pull_request.title }} #${{github.event.pull_request.number}}'
          body: |
            This issue is to track documentation tasks related to Pull Request #${{ github.event.pull_request.number }}.

            **PR Title:** ${{ github.event.pull_request.title }}
            **PR Author:** @${{ github.event.pull_request.user.login }}
            **PR Link:** ${{ github.event.pull_request.html_url }}

            Please ensure all necessary documentation updates are completed.
          assignees: ${{ github.event.pull_request.user.login }}
