name: 'Automate Jobs'

permissions: {}

on:
  issues:
    types: [assigned]

jobs:
  remove-needs-triage-when-assigned:
    if: github.event.action == 'assigned'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions-cool/issues-helper@ca1b238fecb728f25584d2beb288d7f1727f9fa6 # v3.7.0
        with:
          actions: 'remove-labels'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          labels: 'needs-triage'
