name: 'Automate Jobs'

permissions: {}

on:
  issues:
    types: [assigned]

jobs:
  remove-needs-triage-when-assigned:
    if: github.event.action == 'assigned'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions-cool/issues-helper@d1d51fccf39469b5458203b1369060db0ff0c0db # v3.7.4
        with:
          actions: 'remove-labels'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          labels: 'needs-triage'
