name: 'Automate Jobs'

permissions: {}

on:
  issues:
    types: [assigned]

jobs:
  remove-needs-triage-when-assigned:
    if: github.event.action == 'assigned'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions-cool/issues-helper@e2ff99831a4f13625d35064e2b3dfe65c07a0396 # v3.7.5
        with:
          actions: 'remove-labels'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          labels: 'needs-triage'
