name: Benchmark

on:
  issue_comment:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  bench:
    name: Bench
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && contains(github.event.comment.body, '!bench')
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v4

      - name: Install Rust
        uses: moonrepo/setup-rust@v1
        with:
          bins: critcmp

      - name: Prepare Benchmark
        run: |
          git clone --branch r108 --depth 1 https://github.com/mrdoob/three.js.git ./temp/three
          echo "import * as three from './src/Three.js'; export { three }" > temp/three/entry.js
          mkdir -p temp/three10x
          for i in {1..10}; do cp -r ./temp/three/src ./temp/three10x/copy$i/; done
          echo > temp/three10x/entry.js
          for i in {1..10}; do echo "import * as three$i from './copy$i/Three.js'; export { three$i }" >> temp/three10x/entry.js; done

      - name: Run Bench on PR Branch
        run: cargo bench -p bench -- --save-baseline pr

      - name: Checkout Next Branch
        uses: actions/checkout@v4
        with:
          clean: false
          ref: main

      - name: Run Bench on Main Branch
        run: cargo bench -p bench -- --save-baseline baseline

      - name: Compare Bench Results
        id: bench_comparison
        shell: bash
        run: |
          echo "### Benchmark Results" > output
          echo "\`\`\`"  >> output
          critcmp baseline pr >> output
          echo "\`\`\`" >> output
          cat output
          comment="$(cat output)"
          comment="${comment//'%'/%25}"
          comment="${comment//$'\n'/%0A}"
          comment="${comment//$'\r'/%0D}"
          echo "::set-output name=comment::$comment"

      - name: Write a new comment
        uses: peter-evans/create-or-update-comment@v1.4.5
        continue-on-error: true
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            ${{ steps.bench_comparison.outputs.comment }}
