name: Issue Close Require

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  close-issues:
    if: github.repository == 'rolldown/rolldown'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions-cool/issues-helper@3809910bc12872edc9b8132f122069ac16cd16ee # v3.7.3
        with:
          actions: 'close-issues'
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: 'needs-reproduction'
          inactive-day: 14
