name: Metric and Commit Results

permissions: {}

on:
  workflow_dispatch: # Allows manual triggering of the workflow
  push:
    branches:
      - main
    paths:
      - 'crates/**'
      - 'packages/**'
      - 'Cargo.lock'
      - 'rust-toolchain.toml'
      - 'pnpm-lock.yaml'
      - '.github/workflows/metric.yml'

jobs:
  compile-time-and-binary-size:
    name: Compile Time and Binary Size
    runs-on: ubuntu-latest
    outputs:
      time: ${{ steps.run.outputs.COMPILE_TIME }}
      binary_size: ${{ steps.run.outputs.BINARY_SIZE }}
    steps:
      - uses: taiki-e/checkout-action@3ab630d442e198ebb0ca30872832406ca01c46eb # v1.4.0
      - uses: oxc-project/setup-rust@c8224157c0bf235aabc633e8cd50d344f087a7de # v1.0.12
        with:
          cache-key: release-build
      - run: cargo clean # build from scratch using local system cache to avoid download from crates.io
      - id: run
        run: |
          /usr/bin/time -f "%e" -o output cargo build --release
          cat output
          COMPILE_TIME=$(cat output)
          echo $COMPILE_TIME
          echo "COMPILE_TIME=$COMPILE_TIME" >> $GITHUB_OUTPUT

          BINARY_SIZE=$(ls -l ./target/release/librolldown_binding.so | awk '{print $5}')
          echo $BINARY_SIZE
          echo "BINARY_SIZE=$BINARY_SIZE" >> $GITHUB_OUTPUT
          echo $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

  metric:
    name: Metric
    needs: [compile-time-and-binary-size]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout rolldown metric repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'rolldown/metric'
          ref: 'main'
          token: ${{ secrets.METRIC_SECRET_KEY }}
          persist-credentials: true # required by `git push` below

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6

      - name: Install dependencies and push metric
        run: |
          node ./scripts/compile-time-and-binary-size.mjs
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add metric.json
          git commit -m "Update benchmark results"
          git push

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMPILE_TIME: ${{ needs.compile-time-and-binary-size.outputs.time }}
          COMMIT_HASH: ${{ github.sha }}
          GIT_REPOSITORY_URL: ${{ github.repository }}
          BINARY_SIZE: ${{ needs.compile-time-and-binary-size.outputs.binary_size }}
