# https://github.com/stackblitz-labs/pkg.pr.new
name: Publish to pkg.pr.new

permissions: {}

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, labeled]

jobs:
  build:
    if: >
      github.repository == 'rolldown/rolldown' &&
      (github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'trigger: preview')))
    name: Build bindings and node packages
    uses: ./.github/workflows/reusable-release-build.yml
    with:
      version: 'commit'

  publish:
    if: >
      github.repository == 'rolldown/rolldown' &&
      (github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'trigger: preview')))
    name: Pkg Preview
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Git Reset Hard
        run: git reset --hard # fix pnpm install add new line for package.json

      - name: Download Binding Artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: packages/rolldown/artifacts

      - name: Move Binding Artifacts
        run: pnpm --filter rolldown artifacts

      - name: List Rolldown Bindings
        run: ls -R ./packages/rolldown/npm
        shell: bash

      - name: Download Node Artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: packages/rolldown/dist
          name: node-artifact

      - name: Download `@rolldown/browser` Artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: packages/browser/dist
          name: browser-artifact

      - name: Download `@rolldown/debug` Artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: packages/debug/dist
          name: debug-artifact

      - name: Download `rolldown-version.txt`
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: rolldown-version

      - name: Read `rolldown-version.txt`
        id: rolldown-version
        uses: igorskyflyer/action-readfile@d38a0aef4a6ba5245f2a127705a8cdc8d5d5e702 # v1.0.0
        with:
          path: rolldown-version.txt

      - name: Canary/Nightly Versioning
        run: node --import @oxc-node/core/register ./scripts/misc/bump-version.js ${ROLLDOWN_VERSION}
        env:
          ROLLDOWN_VERSION: ${{ steps.rolldown-version.outputs.content }}

      - name: Copy Licenses
        run: |
          find ./packages/ -type d -maxdepth 1 -exec cp LICENSE {} \;
          find ./packages/ -type d -maxdepth 1 -exec cp THIRD-PARTY-LICENSE {} \;

      - name: Release
        run: pnpx pkg-pr-new publish --compact --pnpm './packages/rolldown/npm/*' './packages/rolldown' './packages/browser'
