name: Release

on:
  workflow_dispatch:
  pull_request: # TEMP

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-binding:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
            build: pnpm build-binding:release --target x86_64-apple-darwin

          - os: macos-latest
            target: aarch64-apple-darwin
            build: |
              sudo rm -Rf /Library/Developer/CommandLineTools/SDKs/*;
              export CC=$(xcrun -f clang);
              export CXX=$(xcrun -f clang++);
              SYSROOT=$(xcrun --sdk macosx --show-sdk-path);
              export CFLAGS="-isysroot $SYSROOT -isystem $SYSROOT";
              export CARGO_BUILD_TARGET=aarch64-apple-darwin;
              pnpm build-binding:release --target aarch64-apple-darwin

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            build: pnpm build-binding:release --target x86_64-pc-windows-msvc

          - os: windows-latest
            target: i686-pc-windows-msvc
            build: |
              export CARGO_BUILD_TARGET=i686-pc-windows-msvc;
              pnpm build-binding:release --target i686-pc-windows-msvc

          - os: windows-latest
            target: aarch64-pc-windows-msvc
            build: |
              export CARGO_BUILD_TARGET=aarch64-pc-windows-msvc;
              pnpm build-binding:release --target aarch64-pc-windows-msvc

          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: |
              export CARGO_BUILD_TARGET=x86_64-unknown-linux-gnu;
              export CC=clang;
              pnpm build-binding:release --target x86_64-unknown-linux-gnu --use-napi-cross

          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            build: pnpm build-binding:release --target x86_64-unknown-linux-musl -x

          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            build: |
              export CARGO_BUILD_TARGET=aarch64-unknown-linux-gnu;
              export CC=clang;
              pnpm build-binding:release --use-napi-cross --target aarch64-unknown-linux-gnu

          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            build: |
              export CARGO_BUILD_TARGET=armv7-unknown-linux-gnueabihf;
              export CC=clang;
              pnpm build-binding:release --target armv7-unknown-linux-gnueabihf --use-napi-cross

          - os: ubuntu-latest
            target: aarch64-linux-android
            build: |
              export CARGO_BUILD_TARGET=aarch64-linux-android;
              pnpm build-binding:release --target aarch64-linux-android

          - os: ubuntu-latest
            target: armv7-linux-androideabi
            build: |
              export CARGO_BUILD_TARGET=armv7-linux-androideabi;
              pnpm build-binding:release --target armv7-linux-androideabi

          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            build: |
              export CARGO_BUILD_TARGET=aarch64-unknown-linux-musl;
              pnpm build-binding:release -x --target aarch64-unknown-linux-musl
    name: Build ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: moonrepo/setup-rust@v1
        with:
          cache-base: main

      - name: Add Rust Target
        run: rustup target add ${{ matrix.target }}

      - uses: goto-bus-stop/setup-zig@v2
        if: ${{ contains(matrix.target, 'musl') }}
        with:
          version: 0.11.0

      - uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.target, 'musl') }}
        with:
          tool: cargo-zigbuild

      # https://github.com/nodejs/node-gyp/issues/2869
      - name: Setup python
        run: pip install setuptools
        if: ${{ matrix.os == 'macos-latest' }}

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Build Binding
        run: ${{ matrix.build }}
        shell: bash

      - name: Upload Binding Artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: bindings-${{ matrix.target }}
          path: packages/rolldown/src/rolldown-binding.*.node

  build-node-packages:
    strategy:
      fail-fast: false
    name: Build Node Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Build Node Packages
        run: pnpm --filter rolldown build:release:ci

      - name: Upload Node Artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: node-artifact
          path: packages/rolldown/dist/**

  build-wasm:
    name: Build Wasm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: moonrepo/setup-rust@v1
        with:
          cache-base: main

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Build Wasm
        run: pnpm build-wasm:release

      - name: Upload Wasm Artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: wasm-artifact
          path: crates/rolldown_binding_wasm/dist/**

  test:
    needs:
      - build-binding
      - build-wasm
      - build-node-packages
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            target: x86_64-apple-darwin

          - os: windows-latest
            target: x86_64-pc-windows-msvc

          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
    name: Test ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true # Pull submodules for additional files

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Download Node Artifacts
        uses: actions/download-artifact@v4
        with:
          path: packages/rolldown/dist
          name: node-artifact

      - name: Download Binding Artifacts
        uses: actions/download-artifact@v4
        with:
          path: packages/rolldown/dist
          name: bindings-${{ matrix.target }}

      - name: List rolldown dist
        run: ls -R ./packages/rolldown/dist
        shell: bash

      - name: Node Test
        run: pnpm test

  publish:
    name: Publish Npm Packages
    runs-on: ubuntu-latest
    permissions:
      contents: write # for softprops/action-gh-release@v1
      id-token: write # for `npm publish --provenance`
    needs:
      - test
    steps:
      - uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install && git reset --hard # fix pnpm install add new line for package.json

      - name: Download Wasm Artifacts
        uses: actions/download-artifact@v4
        with:
          path: crates/rolldown_binding_wasm/dist
          name: wasm-artifact

      - name: Download Binding Artifacts
        uses: actions/download-artifact@v4
        with:
          path: packages/rolldown/artifacts

      - name: Move Binding Artifacts
        run: pnpm --filter rolldown artifacts

      - name: List packages
        run: ls -R ./packages/rolldown/npm
        shell: bash

      - name: Download Node Artifacts
        uses: actions/download-artifact@v4
        with:
          path: packages/rolldown/dist
          name: node-artifact

      # - name: Publish
      #   run: |
      #     find ./packages/ -type d -maxdepth 1 -exec cp LICENSE {} \;
      #     find ./packages/ -type d -maxdepth 1 -exec cp THIRD-PARTY-LICENSE {} \;
      #     echo "//registry.npmjs.org/:_authToken=$ROLLDOWN_NPM_TOKEN" >> ~/.npmrc
      #     pnpm changeset version
      #     git add --all
      #     git commit -m "chore: Release"
      #     pnpm changeset publish
      #     git push --follow-tags
      #   env:
      #     NPM_TOKEN: ${{ secrets.ROLLDOWN_NPM_TOKEN }}
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
