name: WASI Test

permissions: {}

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      changed:
        required: true
        type: boolean

jobs:
  run:
    name: WASI Test
    if: ${{ inputs.changed }}
    runs-on: ${{ inputs.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true # Pull submodules for additional files
          persist-credentials: false

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6

      - name: Download Rolldown with WASI Binding
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: rolldown-wasi
          path: ./packages

      - name: Build Basic Example
        run: pnpm --filter '@example/*' --filter '!@example/native-magic-string' run --sequential build
        if: ${{ inputs.os != 'windows-latest' }}
        env:
          NAPI_RS_FORCE_WASI: error

      - name: Node Test
        run: pnpm run --recursive --filter=!rollup-tests --filter=!vite-tests test
        if: false
        env:
          NAPI_RS_FORCE_WASI: error
          RD_LOG: trace

      - name: Rollup Test
        run: pnpm run --filter rollup-tests test
        if: false
        env:
          NAPI_RS_FORCE_WASI: error
          RD_LOG: trace
