name: WASI Test

permissions: {}

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      changed:
        required: true
        type: boolean

jobs:
  run:
    name: WASI Test
    if: ${{ inputs.changed }}
    runs-on: ${{ inputs.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true # Pull submodules for additional files
          persist-credentials: false

      - name: Setup Rust
        uses: oxc-project/setup-rust@cd82e1efec7fef815e2c23d296756f31c7cdc03d # v1.0.0
        with:
          tools: just
          cache-key: debug-build-wasi

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Add WASI target
        run: rustup target add wasm32-wasip1-threads

      - name: Build Browser Rolldown
        run: just build-browser

      - name: Build Node Packages
        run: pnpm --filter rolldown build-node

      - name: Build Basic Example
        run: pnpm --filter '@example/*' run --sequential build
        if: ${{ inputs.os != 'windows-latest' }}
        env:
          NAPI_RS_FORCE_WASI: 1

      - name: Node Test
        run: pnpm run --recursive --filter=!rollup-tests --filter=!vite-tests test
        if: false
        env:
          NAPI_RS_FORCE_WASI: 1
          RD_LOG: trace

      - name: Rollup Test
        run: pnpm run --filter rollup-tests test
        if: false
        env:
          NAPI_RS_FORCE_WASI: 1
          RD_LOG: trace
