name: Rust Test

permissions: {}

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      changed:
        required: true
        type: boolean

jobs:
  run:
    if: ${{ inputs.changed }}
    name: Cargo Test
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true # Pull submodules for additional files
          persist-credentials: false

      - name: Setup Rust
        uses: oxc-project/setup-rust@c8224157c0bf235aabc633e8cd50d344f087a7de # v1.0.12
        with:
          tools: just
          cache-key: debug-build

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6

      - name: Build
        run: cargo test --workspace --exclude rolldown_binding --no-run

      - name: Run Test
        run: just test-rust
        env:
          # Reject updated snapshots https://insta.rs/docs/advanced/#controlling-snapshot-updating
          INSTA_UPDATE: no

      - name: Check if esbuild tests diff has changed
        run: |
          just ued
          git diff --exit-code
