name: Build Rolldown with WASI Binding

permissions: {}

on:
  workflow_call:
    inputs:
      changed:
        required: true
        type: boolean

jobs:
  run:
    name: Build Rolldown with WASI Binding
    if: ${{ inputs.changed }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
          persist-credentials: false

      - name: Setup Rust
        uses: oxc-project/setup-rust@c8224157c0bf235aabc633e8cd50d344f087a7de # v1.0.12
        with:
          tools: just
          cache-key: debug-build-wasi

      - uses: oxc-project/setup-node@141eb77546de6702f92d320926403fe3f9f6a6f2 # v1.0.5

      - name: Add WASI target
        run: rustup target add wasm32-wasip1-threads

      - name: Build Rolldown with WASI Binding
        run: just build-rolldown-wasi

      - name: Upload Rolldown with WASI Binding
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: rolldown-wasi
          path: |
            packages/rolldown/dist
            packages/pluginutils/dist
          if-no-files-found: error
